---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { obtenerUltimoRegistro, obtenerRegistroMantenimiento } from "../utils/supabaseUtils";
import { checkAuthentication } from "../utils/authUtils";

const authResult = await checkAuthentication(Astro);
if (authResult instanceof Response) {
  return authResult;
}

let humedad = await obtenerUltimoRegistro("humedad", "valor");
let ph = await obtenerUltimoRegistro("pH", "valor");
let nivel_agua = await obtenerUltimoRegistro("nivel_agua", "valor");
let temperatura = await obtenerUltimoRegistro("temperatura", "valor");
let luz = await obtenerUltimoRegistro("luz", "valor");
let mantenimiento = await obtenerRegistroMantenimiento();

const formatData = (data) => ({
  valor: data?.valor ?? 'N/A',
  fecha: data?.fecha ?? 'N/A',
  hora: data?.hora ?? 'N/A'
});

const phData = formatData(ph);
const nivelAguaData = formatData(nivel_agua);
const temperaturaData = formatData(temperatura);
const humedadData = formatData(humedad);
const luzData = formatData(luz);
const mantenimientoData = formatData(mantenimiento);
---

<Layout title="Sistema Hidropónico">
  <main>
    <h1 class="titulo">Sistema Hidropónico</h1>
    <div class="link-card-grid">
      <Card
        route="/ph"
        bgFirst="#439BFF"
        bgSecond="#71B3FF"
        title="PH"
        subtitle="Nivel de PH"
        valor={phData.valor}
        fecha={phData.fecha}
        hora={phData.hora}
      />
      <Card
        route="/nivel_agua"
        bgFirst="#FFAA6B"
        bgSecond="#FFBB7F"
        title="Nivel de Agua"
        subtitle="Nivel de agua aproximado"
        valor={nivelAguaData.valor}
        fecha={nivelAguaData.fecha}
        hora={nivelAguaData.hora}
      />
      <Card
        route="/temperatura"
        bgFirst="#FFC700"
        bgSecond="#FFD700"
        title="Temperatura"
        subtitle="Temperatura aproximada"
        valor={`${temperaturaData.valor} °C`}
        fecha={temperaturaData.fecha}
        hora={temperaturaData.hora}
      />
      <Card
        route="/humedad"
        bgFirst="#FF6B6B"
        bgSecond="#FF7F7F"
        title="Humedad"
        subtitle="Humedad aproximada"
        valor={`${humedadData.valor}%`}
        fecha={humedadData.fecha}
        hora={humedadData.hora}
      />
      <Card
        route="/luz"
        bgFirst="#AA6BFF"
        bgSecond="#B67FFF"
        title="Luz"
        subtitle="Nivel de luz aproximado"
        valor={luzData.valor}
        fecha={luzData.fecha}
        hora={luzData.hora}
      />
      <Card
        route="/mantenimiento"
        bgFirst="#33c7a9"
        bgSecond="#33c7a9"
        title="Mantenimiento"
        subtitle="Sensor a cambiar"
        valor={mantenimientoData.valor}
        fecha={mantenimientoData.fecha}
        hora={mantenimientoData.hora}
      />
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 0px 0px 0px auto;
    width: 100%;
    max-width: 1200px;
    color: black;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 0;
    list-style: none;
  }
  @media (max-width: 1200px) {
    .link-card-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (max-width: 768px) {
    .link-card-grid {
      grid-template-columns: 1fr;
    }
  }
  .card-dashboard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
    height: 250px;
    border-radius: 10px;
    box-shadow: var(--md-shadow);
    padding: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 1rem auto;
  }
  .card-dashboard:hover {
    transform: scale(1.05);
    box-shadow: var(--md-shadow-hover);
  }
  .value-container {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
  }
  .title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    margin-top: 0;
  }
  .valor {
    font-size: 1.8rem;
    font-weight: 700;
  }
  .subtitle {
    font-size: 1.2rem;
    font-weight: 700;
  }
  .footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
  }
  .fecha,
  .hora {
    font-size: 1rem;
    font-weight: 700;
  }

  h1.titulo {
    transition: color 0.3s;
  }
  body.light-mode h1.titulo {
    color: black; 
  }
  body.dark-mode h1.titulo {
    color: white; 
  }
</style>
